.cp-section {
  &__seo {
    .cp-masthead {
      background-image: url("../../images/two-brown-pencils-907607.jpg");
    }
    h1 {
      font-size: 48px;
      line-height: 56px;
      color: $secondaryTextColor;
      font-family: "Gochi Hand", cursive;
      letter-spacing: 5px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
    ul {
      margin: 0 0 20px;
      padding: 0;
      li {
        list-style-type: none;
        font-size: 16px;
        line-height: 28px;
        position: relative;
        padding-left: 17px;
        &:before {
          position: absolute;
          left: 0;
          top: 10px;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          content: "";
          background-color: $secondaryTextColor;
        }
      }
    }
  }
}
