.cp-section {
  &__themes {
    max-width: 1680px;
    margin: 0 auto;
    padding: 40px 20px;
    h1 {
      font-size: 48px;
      line-height: 56px;
      color: $secondaryTextColor;
      font-family: "Gochi Hand", cursive;
      letter-spacing: 5px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
  }
}
