.cp-header {
  display: flex;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,733434+81,733434+100,000000+100 */
  background: rgb(0, 0, 0); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(115, 52, 52, 1) 81%,
    rgba(115, 52, 52, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(115, 52, 52, 1) 81%,
    rgba(115, 52, 52, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(115, 52, 52, 1) 81%,
    rgba(115, 52, 52, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 9;
  @include mq(custom-580, max) {
    flex-wrap: wrap;
    height: auto;
    padding: 0 5px;
  }
  &__logo {
    max-width: 100px;
    @include mq(custom-580, max) {
      margin: 10px auto 0;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  &__nav {
    @include mq(custom-580, max) {
      width: 100%;
    }
    ul {
      display: flex;
      @include mq(custom-580, max) {
        margin: 20px 0 10px;
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
      }
      li {
        list-style-type: none;
        @include mq(custom-580, max) {
          margin-bottom: 10px;
        }
        &:last-child {
          a {
            margin-right: 0;
          }
        }
        a {
          text-decoration: none;
          color: $lightTextColor;
          text-transform: uppercase;
          margin-right: 20px;
        }
      }
    }
  }
}
