.cp-section {
  &__blog {
    .cp-masthead {
      background-image: url("../../images/blog-blocks-wallpaper-1591056.jpg");
    }
    h1 {
      font-size: 48px;
      line-height: 56px;
      color: $secondaryTextColor;
      font-family: "Gochi Hand", cursive;
      letter-spacing: 5px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
  }
  &__inner{
    .cp-blog{
      &__section{
        background-color: $secondaryTextColor;
        color: $white;
        width: 33%;
        padding: 50px;
        h3{
          font-size: 24px;
          line-height: 28px;
        }
        a{
          font-size: 18px;
          line-height: 20px;
          color: $white;
        }
      }
    }
  }
}
