.cp-masthead {
  position: relative;
  // background-image: url(/static/media/background.bee36bb7.jpg);
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  > img {
    width: 100%;
    max-height: calc(100vh - 100px);
    object-fit: cover;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    @include mq(custom-580, max) {
      bottom: 150px;
    }
    img {
      width: 100%;
      max-width: 200px;
    }
    span {
      display: block;
    }
    > span {
      position: relative;
      height: 200px;
      @include mq(custom-580, min) {
        &:hover {
          span {
            transition: all 1s ease-in-out;
            &:nth-child(2) {
              left: -70%;
              transform: rotate(0deg);
            }
            &:nth-child(3) {
              right: -70%;
              transform: rotate(0deg);
              text-align: right;
            }
          }
        }
      }
      span {
        color: $black;
        font-size: 18px;
        line-height: 24px;
        background-color: $white;
        padding: 20px;
        border: 2px solid $secondaryTextColor;
        width: 200px;
        height: 200px;
        position: relative;
        z-index: 2;
        cursor: pointer;
        background: repeating-linear-gradient(
              rgba(129, 203, 188, 0.5) 0px,
              rgba(129, 203, 188, 0.5) 0.04%,
              rgba(0, 0, 0, 0) 0.34%,
              rgba(0, 0, 0, 0) 22%
            )
            10% 50% / auto repeat padding-box border-box,
          #fff;
        @include mq(custom-580, max) {
          width: 100px;
          height: 100px;
        }
        &.l-pin {
          box-sizing: content-box;
          width: 30px;
          height: 30px;
          position: absolute;
          content: "";
          top: -15px;
          bottom: auto;
          left: 80px;
          border-radius: 30px;
          background: radial-gradient(
                circle closest-side,
                #1977c4 0px,
                #1977c4 4%,
                #0c71c9 77%,
                rgba(255, 255, 255, 0) 89%,
                rgba(255, 255, 255, 0) 100%
              )
              96% -4%/20px 20px no-repeat padding-box border-box,
            radial-gradient(
                circle closest-side,
                rgba(0, 0, 0, 0.4) 0px,
                rgba(0, 0, 0, 0.2) 81%,
                rgba(255, 255, 255, 0) 92%,
                rgba(255, 255, 255, 0) 100%
              )
              71% 43%/20px 20px,
            radial-gradient(closest-side, #4096ee 0px, #4096ee 100%) 50% 50% /
              auto,
            rgba(255, 255, 255, 0.9);
          background-repeat: no-repeat;
          padding: 0;
          z-index: 2;
          border: 0;
        }
        &:first-child {
          animation: swinging 3.5s ease-in-out forwards infinite;
          text-align: center;
        }
        & + span {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
          @include mq(custom-580, max) {
            width: 100px;
            height: 100px;
            position: relative;
            right: 0;
            padding: 20px 0 20px 0;
            font-size: 19px;
          }
        }
        &:nth-child(2) {
          left: -20%;
          transform: rotate(-20deg);
        }
        &:nth-child(3) {
          right: -20%;
          transform: rotate(20deg);
          text-align: right;
        }
      }
    }
  }
}

@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
